# docker path 
operator_config_path = "/opt/operator.yaml"
keystore_pwd = ""
avs_contract_address="0x5E78eFF26480A75E06cCdABe88Eb522D4D8e1C9d"
avs_dir_contract_address="0x055733000064333CaDDbC92763c58BF0192fFeBf"
rpc_url="https://rpc.ankr.com/eth_holesky"
