[profile.default]
src = "src"
out = "out"
libs = ["lib"]

solc-version = "0.8.24"
optimizer = true
optimizer-runs = 200
via_ir = false

gas_reports = ["*"]

fs_permissions = [{ access = "read-write", path = "./" }]
ignored_warnings_from = ["lib"]

[rpc_endpoints]
holesky = "${HOLESKY_RPC_URL}"

[etherscan]
holesky = { key = "${ETHERSCAN_API_KEY}" }

# See more config options https://github.com/foundry-rs/foundry/blob/master/crates/config/README.md#all-options