# 'production' only prints info and above. 'development' also prints debug
environment: development
eth_rpc_url: https://ethereum-holesky-rpc.publicnode.com
eth_ws_url: wss://ethereum-holesky-rpc.publicnode.com
# address which the coordinator listens on for manuscript signed messages
coordinator_server_ip_port_address: localhost:8090
operator_state_retriever_addr: 0x3e302917A4d007eAF367c182226Da217E9639d38
registry_coordinator_addr: 0xb8B9351a6D21fd9b3249713353ACf430BE2e6bBc
# generator and aggregator private key
ecdsa_private_key: 0xyourprivatekey
