# this sets the logger level (true = info, false = debug)
production: true
# avs contract
avs_registry_coordinator_address: 0xb8B9351a6D21fd9b3249713353ACf430BE2e6bBc
operator_state_retriever_address: 0x3e302917A4d007eAF367c182226Da217E9639d38
# ETH RPC URL
eth_rpc_url: https://ethereum-holesky-rpc.publicnode.com
eth_ws_url: wss://ethereum-holesky-rpc.publicnode.com

operator_address: 0xd8c51e9d96f30325c794d190bd66874998798c1b
ecdsa_private_key_store_path: /home/user/.eigenlayer/operator_keys/test.ecdsa.key.json
bls_private_key_store_path: /home/user/.eigenlayer/operator_keys/test.bls.key.json

# address which the coordinator listens on for manuscript node signed messages
coordinator_server_ip_port_address: localhost:8090
# ip address and port of the Node gRPC server.
# This public address is submitted to the contract during the RegisterOperatorWithAvs and can be requested by the coordinator.
node_server_ip_port_address: localhost:8010

# avs node spec compliance https://eigen.nethermind.io/docs/spec/intro
eigen_metrics_ip_port_address: localhost:9090
enable_metrics: true
node_api_ip_port_address: localhost:9010
enable_node_api: true
